<form action="/search" id="doingForm" method="get">
  <fieldset class="common-form standard-form">
    <div class="bar">
      <h3><label for="status" class="doing">What keyword are you searching for?</label></h3>
      <span id="chars_left_notice" class="numeric">
        <strong id="status-field-char-counter" class="char-counter"></strong>
      </span>
    </div>
    <div class="info">
      <input id="search" name="keyword" value="<%= @keyword %>" />
      <div class="status-btn">
        <input type="submit" name="update" value="search" id="update-submit" class="status-btn round-btn" />
      </div>
    </div>
  </fieldset>
</form>
