<ol class="statuses" id="timeline">
  <%= render partial: 'statuses/tweet', collection: @tweets, locals: {type: 'friends'} %>
</ol>

<div class="bottom-nav">
  <div id="pagination" class="pagination">
    <%= link_to_next_page @tweets, 'Older »', :class => 'section_links' %>
    <%= link_to_previous_page @tweets, '« Newer', :class => 'section_links' %>
  </div>
</div>

<% content_for :javascript do %>
  $('span.reply a').click(function() {
    var status = $(this).parents('li.status');
    var name = '@' + status.data('username');
    $('input#in_reply_to_status_id').val(status.data('status-id'));

    if (!$('textarea#status').val().match(name)) {
      $('textarea#status').val(name + ' ' + $('textarea#status').val());
    }
    $('textarea#status').focus();

    return false;
  });
<% end %>
