<ol class="statuses" id="timeline">
  <%= render :partial=>'statuses/tweet', :collection=>@tweets, :locals=>{:type=>'friends'} %>
</ol>

<% unless @page.nil? %>
<div class="bottom-nav">
  <div id="pagination" class="pagination">
    <% if @more_pages %>
      <a href="/home?page=<%= @page + 1 %>" class="section_links" rel="prev">Older &raquo;</a>
    <% end %>
    <% if @page > 1 %>
      <a href="/home?page=<%= @page - 1 %>" class="section_links" rel="prev">&laquo; Newer</a>
    <% end %>
  </div>
</div>
<% end %>

<% content_for :javascript do %>
  $('span.reply a').click(function() {
    var status = $(this).parents('li.status');
    var name = '@' + status.data('username');
    $('input#in_reply_to_status_id').val(status.data('status-id'));

    if (!$('textarea#status').val().match(name)) {
      $('textarea#status').val(name + ' ' + $('textarea#status').val());
    }
    $('textarea#status').focus();

    return false;
  });
<% end %>
