<ol class="statuses" id="timeline">
  <%= render partial: 'statuses/tweet', collection: @tweets, locals: {type: 'friends'} %>
</ol>

<div class="bottom-nav">
  <div id="pagination" class="pagination">
    <%= link_to_next_page @tweets, 'Older »', :class => 'section_links' %>
    <%= link_to_previous_page @tweets, '« Newer', :class => 'section_links' %>
  </div>
</div>

<%= render partial: 'reply_to_tweet' %>
