<ol class="statuses" id="timeline">
    <%= render :partial=>'statuses/tweet', :collection=>@tweets, :locals=>{:type=>'friends'} %>
</ol>
<% unless @page.nil? %>
<div class="bottom-nav">
    <div id="pagination" class="pagination">
      <% if @more_pages %>
          <a href="/home?page=<%= @page + 1 %>" class="section_links" rel="prev">Older &raquo;</a>
      <% end %>
      <% if @page > 1 %>
          <a href="/home?page=<%= @page - 1 %>" class="section_links" rel="prev">&laquo; Newer</a>
      <% end %>
    </div>
</div>
<% end %>

<% content_for :javascript do %>
  $('span.reply a').click(function() {
    var status = $(this).parents('li.status');
    $('input#in_reply_to_status_id').val(status.data('status-id'));
    $('textarea#status').val('@' + status.data('username') + ' ').focus();
    setCaretToPos(document.getElementById('status'), $('textarea#status').val().length);
    return false;
  });
<% end %>
