<% setup(:title=>"Home", :body_id=>"home", :body_classes=>"account replyable") %>
<%= render :partial => "statuses/update" %>
<div class="tab">
    <%= render :partial => "statuses/tweets" %>
</div>
<%= render :partial => "statuses/sidebar" %>
