/* From within the layout head */

body {
  background: #C0DEED url('/images/bg-clouds.png') repeat-x;
  line-height: 1.5;
}

label {
  font-size: 14px;
}

input {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 2px;
  padding: 0.1em 0.2em;
  box-sizing: border-box;
}

body#show #content .meta a.screen-name,
#content .shared-content .screen-name,
#content .meta .byline a {
  color: #E65500;
}

/* Link Color */
a,
#content tr.hentry:hover a,
body#profile #content div.hentry:hover a,
#side .stats a:hover span.stats_count,
#side div.user_icon a:hover,
li.verified-profile a:hover,
#side .promotion .definition strong,
p.list-numbers a:hover,
#side div.user_icon a:hover span,
#content .tabMenu li a,
.translator-profile a:hover,
#local_trend_locations li a,
.modal-content .list-slug,
.tweet-label a:hover,
ol.statuses li.garuda-tweet:hover .actions-hover li span a,
ol.statuses li.garuda-tweet .actions-hover li span a:hover {
  color: #E65500;
}

body,
ul#tabMenu li a, #side .section h1,
#side .stat a,
#side .stats a span.stats_count,
#side div.section-header h1,
#side div.user_icon a,
#side div.user_icon a:hover,
#side div.section-header h3.faq-header,
ul.sidebar-menu li.active a,
li.verified-profile a,
#side .promotion a,
body #content .list-header h2,
p.list-numbers a,
.bar h3 label,
body.timeline #content h1,
.list-header h2 a span,
#content .tabMenu li.active a,
body#direct_messages #content .tabMenu #inbox_tab a,
body#inbox #content .tabMenu #inbox_tab a,
body#sent #content .tabMenu #sent_tab a,
body#direct_messages #content .tabMenu #inbox_tab a,
body#retweets_by_others #content .tabMenu #retweets_by_others_tab a,
body#retweets #content .tabMenu #retweets_tab a,
body#retweeted_by_others #content .tabMenu #retweeted_by_others_tab a,
body#retweeted_of_mine #content .tabMenu #retweeted_of_mine_tab a,
.translator-profile a,
#owners_lists h2 a {
  color: #333333;
}

.unconfirmed-email-banner {
  border-bottom: solid 1px #DFDFDF;
}

ul.sidebar-menu li.active a,
ul.sidebar-menu li a:hover,
#side div#custom_search.active,
#side .promotion,
.notify div {
  background-color: #E5E5DB;
}

.list-header,
.list-controls,
ul.sidebar-list li.active a,
ul.sidebar-list li a:hover,
.list-header-inner {
  background-color: #D1D1C7 !important;
}

#side .actions,
#side .promo,
#design .side-section {
  border: 1px solid #DFDFDF;
}

#side div.section-header h3 {
  border-bottom: 1px solid #DFDFDF;
}

#side p.sidebar-location {
  border-bottom: 1px dotted #DFDFDF;
}

#side hr {
  background: #DFDFDF;
  color: #DFDFDF;
}

ul.sidebar-menu li.loading a {
  background: #E5E5DB url('http://a1.twimg.com/a/1270853725/images/spinner.gif') no-repeat 171px 0.5em !important;
}

#side .collapsible h2.sidebar-title {
  background: transparent url('http://a2.twimg.com/a/1270853725/images/toggle_up_dark.png') no-repeat center right !important;
}

#side .collapsible.collapsed h2.sidebar-title {
  background: transparent url('http://a1.twimg.com/a/1270853725/images/toggle_down_dark.png') no-repeat center right !important;
}

#side ul.lists-links li a em {
  background: url('http://a3.twimg.com/a/1270853725/images/arrow_right_dark.png') no-repeat left top;
}

#side span.pipe {
  border-left:1px solid #DFDFDF;
}

#list_subscriptions span.view-all,
#list_memberships span.view-all,
#profile span.view-all,
#profile_favorites span.view-all,
#following span.view-all,
#followers span.view-all {
  border-left: 0;
}

a.edit-list {
  border-right: 1px solid #DFDFDF !important;
}


/* From within the layout body */

form div {
  margin: 2em 0;
}

body.new.sessions #container {
  width: 400px;
}

body.new.sessions #content {
  width: auto;
  border-radius: 5px;
}

body.new.sessions input {
  font-size: 24px;
}

form.status-update-form div {
  margin: 0;
}

table#layout td {
  vertical-align: top;
}

#content {
  padding: 5px 10px 15px;
}

#side_base {
  border-left:1px solid #DFDFDF;
  background-color: #D1D1C7;
}

#header {
  text-align: left;
  margin: 8px 0 16px 0;
}

#navigation, .help {
  margin-top: 5px;
  margin-left: 10px;
  float: right;
  height: 1.5em;
  text-align: right;
  white-space: nowrap;
}

#navigation ul, .help ul {
  display: block;
  float: right;
  background: #FFF;
  padding: 7px;
}

.top-nav li {
  display: inline;
  padding: 0 3px;
}

.top-nav li.signup-link {
  margin: 0 3px;
}
