<p class="promotion round">
  <a href="<%= request.path %>" class="definition">
    <strong><%= promotion[:name].html_safe %></strong>
    <em><%= promotion[:part] %></em>
    <%= promotion[:text] %>
  </a>
</p>
